.countdown {
    text-shadow: 0px 4.859px 4.859px rgba(0, 0, 0, 0.36);
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(0deg, #FFFEE5 0%, #EFD48D 39%, #D19B5B 59.5%, #F9E6A2 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 24px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 300px;
    bottom: 40px;
    left: 25px;

    .timeSegment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (width <=1262px) {
        font-size: 20px;
        width: 250px;
    }
}