.countdown {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  overflow: hidden;
  pointer-events: none;

  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 300px;

  @media (width > 760px) {
    bottom: 40px;
    left: 25px;
  }

  .timeSegment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    text-shadow: 0px 4.859px 4.859px rgba(0, 0, 0, 0.36);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f2eeaf;
    background: linear-gradient(
      0deg,
      #fffee5 0%,
      #efd48d 39%,
      #d19b5b 59.5%,
      #f9e6a2 100%
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (width <=1262px) {
    font-size: 20px;
    width: 250px;
  }

  @media (width <= 760px) {
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
  }

  @media (width <= 585px) {
    top: 275px;
  }
}
