.countdown {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  overflow: hidden;
  pointer-events: none;

  display: flex;
  justify-content: space-between;
  position: fixed;
  gap: 3px;

  @media (width > 1920px) {
    transform: scale(1.5) translateX(50px);
  }

  @media (width > 760px) {
    bottom: 40px;
    left: 25px;
  }

  .timeSegment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    background: var(
                    --gold-title,
                    linear-gradient(
                                    180deg,
                                    #876d24 -18.6%,
                                    #f3d57b 18.4%,
                                    #b69637 68.61%,
                                    #dcbf69 113.54%
                    )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (width <=1262px) {
    font-size: 20px;
  }

  @media (width <= 1000px) {
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    position: absolute;
  }

  @media (width <= 585px) {
    position: absolute;
    top: 275px;
  }
}
