.wrapper {
    width: 100vw;
    height: 100dvh;
    position: relative;

    .imageWrapper {
        display: flex;
        justify-content: center;

        img[alt="oasis logo landing"] {
            aspect-ratio: 659.84 / 224.64;
            width: 35vw;
            height: auto;
            margin-top: 80px;
        }
    }

}