.cross {
  opacity: 0;
  left: 50px;
  top: 60px;
  color: white;
  position: absolute;
  cursor: pointer;
  z-index: 1000000;
  pointer-events: auto;

  svg {
    aspect-ratio: 1 / 1;
    width: 36px;
    height: auto;
  }
}
