.contactBack {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ham {
  position: fixed;
  top: 30px;
  left: 20px;
  @media(width>1920px){
    transform: scale(1.3);
    left: 40px;
    top: 50px;
  }
}

.reg {
  position: relative;
  top: 80px;
  padding: 0 20px;
  z-index: 10;
  height: 100px;

  @media(width>1920px){
    top: 20px;
  }
}

.contactPage {
  position: fixed;
  top: 0rem;
  height: 100%;
  width: 100vw;
  //opacity: 1;
  //pointer-events: auto;
  overflow-x: hidden;
  overflow-y: scroll;

  .heading {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    h2 {
      font-family: "Rye", sans-serif;
      font-size: 52px;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #ccae57;
    }
  }

  .mobileContainer {
    display: none;
  }

  .cardContainer {
    margin-top: 3rem;
    display: flex;
    height: auto;
    position: relative;
    width: 100vw;
    transition: all 0.9s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    .first,
    .second,
    .third,
    .fourth,
    .fifth {
      position: absolute;
      opacity: 1;
    }
  }

  .cardContainer1 {
    display: flex;
    height: fit-content;
    margin-top: 2rem;
    position: relative;
    transition: all 0.9s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    margin-bottom: 3rem;

    .first,
    .second,
    .third {
      position: absolute;
      opacity: 1;
    }

    .fourth {
      display: none;
    }
  }
}

.bottom {
  opacity: 1;
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .bottomAnimation {
    height: 200px;
    width: 250px;
    object-fit: contain;
  }
}

@media (max-width: 3100px) and (min-width: 2100px) {
  .contactPage {
    .heading {
      margin-top: 5rem;

      h2 {
        font-size: 92px;
      }
    }

    .cardContainer {
      margin-top: 8rem;
    }

    .cardContainer1 {
      margin-top: 4rem;
    }
  }
}


@media (max-width: 2100px) and (min-width: 1800px) {
  .contactPage {
    .heading {
      margin-top: 5.5rem;

      h2 {
        font-size: 72px;
      }
    }

    .cardContainer {
      margin-top: calc((100vh - 720px) / 3);
    }

    .cardContainer1 {
      margin-top: calc((100vh - 890px) / 3);
    }
  }

  .bottom {
    .bottomAnimation {
      width: 300px;
      height: 280px;
      object-fit: contain;
    }
  }
}

@media (max-width: 1800px) and (min-width: 1400px) {
  .contactPage {
    .heading {
      margin-top: 4rem;

      h2 {
        font-size: 58px;
      }
    }

    .cardContainer {
      margin-top: 5rem;
    }

    .cardContainer1 {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 1400px) {
  .contactPage {
    .cardContainer {
      margin-top: 7vh;
    }
  }
}

@media (max-width: 1100px) {
  .contactPage {
    top: 6rem;
  }
}

@media (max-width: 1000px) {
  .contactPage {
    height: fit-content;

    .heading {
      h2 {
        font-size: 52px;
        font-weight: 400;
        line-height: normal;
        box-shadow: none;
      }
    }

    .cardContainer,
    .cardContainer1 {
      opacity: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    .mobileContainer {
      margin-top: 3rem;
      display: block;

      .scrollWrapper {
        width: 100%;
        height: 100%;
        display: flex;

        h2 {
          margin-top: 2rem;
          font-family: "Rye", sans-serif;
          font-size: 43px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.05em;
          text-align: center;
          color: #ccae57;
          display: none;
        }

        .mobileCards {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem 2rem;
        }
      }
    }
  }

  .bottom {
    display: none;
  }
}

@media (max-width: 600px) {
  .contactPage {
    height: fit-content;
    overflow-y: hidden;
    margin-top: 0;

    .heading {
      margin-top: 0;
      margin-bottom: 0;

      h2 {
        font-size: 43px;
        margin-top: 0;
        margin-bottom: 0rem;
      }

      svg {
        display: none;
      }
    }

    .mobileContainer {
      padding-top: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0rem;
      height: 75lvh;
      // height: 79lvh;
      // overflow-y: scroll;

      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(0, 0, 0, 0.2)),
        color-stop(15%, rgba(0, 0, 0, 1)),
        color-stop(85%, rgba(0, 0, 0, 1)),
        color-stop(100%, rgba(0, 0, 0, 0))
      );

      /* For non-webkit browsers */
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 1) 85%,
        rgba(0, 0, 0, 0) 100%
      );

      .scrollWrapper {
        margin-top: 0rem;
        pointer-events: all;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 0;
          margin-bottom: 0rem;
          display: hidden;
        }

        .mobileCards {
          gap: 0.5rem 1rem;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .contactPage {
    .heading {
      margin-top: 1rem;
    }

    .mobileContainer {
      padding-top: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0rem;

      .scrollWrapper {
        .mobileCards {
          gap: 0.4rem 0.9rem;
        }
      }
    }
  }
}
