.gridcontainer {
  position: relative;
  // top: 25%;
  // padding-top: 13%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // gap: 4rem;
  // left: 50%;
  // width: 90%;
  justify-content: center;
  align-items: center;

  @media (width<550px) {
    width: auto;
    display: none;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: auto;

    .box {
      display: flex;
      position: relative;
      margin: auto;
      pointer-events: auto;
      transition: all 0.3s ease-out;
      // @media(width<1700px){
      //   transform: scale(0.8);
      // }
      &:hover {
        transform: scale(1.1);
      }
      // @media(width<1700px){
      //   transform: scale(0.8);
      // }
      @media (width<1700px) {
        transform: scale(0.95);
        &:hover {
          transform: scale(1.1);
        }
      }
      @media (width<1110px) {
        transform: scale(0.8);
        &:hover {
          transform: scale(0.94);
        }
      }
      @media (width<550px) {
        transform: scale(0.6);
        display: none;
        &:hover {
          transform: scale(0.8);
        }
      }
      .dance {
        position: absolute;
        left: 0.5%;
        bottom: 1%;
        height: 100%;
        width: auto;
      }
      .drama {
        position: absolute;
        right: 0.5%;
        bottom: 1%;
        height: 100%;
        width: auto;
      }
      .quiz {
        position: absolute;
        right: 0.5%;
        bottom: 1%;
        height: 100%;
        width: auto;
      }
      .music {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 80%;
        width: auto;
      }
      .phototxt {
        color: #fff;
        font-family: "Thedus Condensed Light";
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 70%;
        position: absolute;
        left: 47%;
        top: 45%;
        transform: translateY(-50%);
      }
      .cameratxt {
        color: #fff;
        font-family: "Thedus Condensed Light";
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 70%;
        position: absolute;
        left: 47%;
        top: 65%;
        transform: translateY(-50%);
      }
      .fashiontxt {
        color: #fff;
        font-family: "Thedus Condensed Light";
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 70%;
        position: absolute;
        right: 6%;
        top: 45%;
        transform: translateY(-50%);
      }
      .dancetxt {
        color: #fff;
        font-family: "Thedus Condensed Light";
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 70%;
        position: absolute;
        right: 15%;
        top: 45%;
        transform: translateY(-50%);
      }
      .dramatxt {
        color: #fff;
        font-family: "Thedus Condensed Light";
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 70%;
        position: absolute;
        left: 15%;
        top: 45%;
        transform: translateY(-50%);
      }
      .quiztxt {
        color: #fff;
        font-family: "Thedus Condensed Light";
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 70%;
        position: absolute;
        left: 15%;
        top: 45%;
        transform: translateY(-50%);
      }
      .musictxt {
        color: #fff;
        font-family: "Thedus Condensed Light";
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 70%;
        position: absolute;
        left: 15%;
        top: 45%;
        transform: translateY(-50%);
      }
      .fill {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 54px;
        opacity: 0.6;
        background: #120a1e;
        filter: blur(10.449999809265137px);
      }
    }
  }
}

.mobilecontainer {
  position: relative;
  display: none;
  padding-bottom: 2rem;
  margin-top: 1.5rem;

  @media (width<550px) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .mobileimg {
    pointer-events: auto;
  }
}
