.grid {
  position: absolute;
  z-index: -11;
  pointer-events: none;

  @media (width > 735px) {
    width: 100vw;
  }

  @media (width <= 735px) {
    aspect-ratio: 1 / 1;
    height: 100lvh;
    object-fit: cover;
  }
}