.mainwrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    z-index: -1;

    .headercontainer {
        position: absolute;
        z-index: 10;
    }

    .machinecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 10;

        .cards {
            position: relative;
            top: -4rem;
        }

        .cards:nth-of-type(2) {
            transform: scaleX(-1);
        }
    }
}