.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  right: 60px;
  bottom: 45px;
  pointer-events: auto;

  @media (width > 1920px) {
    transform: scale(1.5) translateX(-10px);
  }
  svg {
    cursor: pointer;
  }

  @media (width <=1262px) {
    transform: scale(0.8);
    right: 0px;
  }

  @media (width <= 1000px) {
    display: none;
  }
}
