.hamOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.855) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );
  z-index: 5110;
  cursor: initial;
}

.btn {
  aspect-ratio: 1 / 1;
  width: 100px;
  z-index: 5200;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .pokerChip {
    // transition: all 300ms ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: 5120;

    @media screen and (max-width: 585px) {
      opacity: 0;
    }
  }

  //   &:hover {
  //     .pokerChip {
  //       //   transform: rotateZ(60deg);
  //     }
  //   }

  .hamIcon {
    position: absolute;
    aspect-ratio: 340 / 240;
    width: calc(18 / 74 * 100%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 5130;
    flex-direction: column;

    .menuLines {
      aspect-ratio: 340 / 240;
      width: 100%;
    }

    // .iconLine {
    //     aspect-ratio: 295 / 30;
    //     width: 100%;
    //     height: auto;
    //     background-color: #EDCF89;
    //     border-radius: 10px;

    //     &:last-of-type {
    //         aspect-ratio: 200 / 30;
    //         width: calc(20000 / 295 * 1%);
    //     }
    // }
  }

  @media (width <= 1050px) {
    transform: scale(0.8);
  }

  @media (width <= 900px) {
    transform: scale(0.65);
  }

  @media (width <= 585px) {
    transform: scale(1);
  }
}

.googleMaps {
  position: fixed;
  z-index: 5200;

  right: 5%;
  top: 50%;
  scale: unset;
  transform: translate(0, -50%);

  iframe {
    border-radius: 25px;
    border: 3px solid #8d6916;

    @media screen and (max-width: 868px) {
      display: none;
    }
  }

  h1 {
    font-family: "Source Serif 4";
    color: #edcf89;
    text-align: center;
    padding-top: 2rem;

    @media screen and (max-width: 1440px) {
      font-size: 24px;
      padding-top: 0.5rem;
    }
    @media screen and (max-width: 868px) {
      font-size: 14px;
    }
    a {
      color: inherit;
      text-decoration: none;

      span {
        padding-right: 4px;
      }
      .arrow {
        transform: translateY(22%);
      }
    }
  }

  @media screen and (max-width: 1440px) {
    top: 75%;
  }
  @media screen and (max-width: 868px) {
    right: 50%;
    top: 40px;
    // bottom: 40px;
    width: 100%;
    transform: translate(50%, 0);
  }
}

.closeBtn {
  position: fixed;
  right: 138px;
  top: 54px;
  z-index: 1000000;
  cursor: pointer;
  svg {
    width: 40px;
    height: 40px;

    @media screen and (max-width: 1440px) {
      width: 30px;
      height: 30px;
    }

    @media screen and (max-width: 868px) {
      width: 20px;
      height: 20px;
    }

    @media screen and (max-width: 585px) {
      width: 16px;
      height: 16px;
    }
  }

  @media screen and (max-width: 1440px) {
    right: 80px;
    top: 40px;
  }

  @media screen and (max-width: 868px) {
    right: 60px;
    top: 40px;
  }

  @media screen and (max-width: 585px) {
    right: 63px;
    top: 63px;
  }
}
