.treescontainer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: -1;
    pointer-events: none;

    .righttree {
        position: absolute;
        right: 0;
    }
    @media(width <= 430px) {
        display: none;
    }
}

.gradient{
    position: absolute;
    bottom: -20px;
    display: none;
    @media(width <= 430px) {
        display: block;
    }
}