.treescontainer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -10;
  pointer-events: none;

  .righttree {
    position: absolute;
    right: 0;
  }

  @media (width <= 585px) {
    display: none;
  }
}

.gradient {
  position: absolute;
  bottom: -20px;
  display: none;
  width: 100vw;
  z-index: 0;
  @media (width <= 585px) {
    display: block;
  }
}

.desktopGradient {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  z-index: 0;
  @media (width < 1000px) {
    display: none;
  }
}
