.cardscontainer{
    display: grid;
    width: 250px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    row-gap: 3rem;
    column-gap: 1rem;
    transition: all 0.3s ease-out;

    .card{
        transform: rotateZ(-14deg);
        transition: all 0.3s ease-out;
    }

    .card:nth-child(1){
        grid-row: 1 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateZ(14deg);
    }

    &:hover{
        row-gap: 6rem;
        column-gap: 4rem;

        .card{
            transform: rotateZ(20deg);
        }

        .card:nth-child(1){
            transform: rotateZ(-20deg);
        }
    }
}