.hamMenuLines {
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 0.1;
  z-index: 5111;
  top: -8%;
  right: -40%;

  font-family: "Source Serif 4";
  font-size: 40px;
  font-weight: 600;
  line-height: 43px;
  text-align: left;
  color: #edcf89;

  a {
    color: inherit;
    text-decoration: none;
  }

  .wallMag {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-125%, -250%);
    opacity: 0;

    .magText {
      position: absolute;
      top: -20%;
      right: -450%;
    }
  }

  .developers {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-15%, -65%);
    opacity: 0;

    .devText {
      position: absolute;
      top: -10%;
      right: -475%;
    }
  }

  .mediaPartners {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(23%, 105%);
    opacity: 0;

    .medText {
      position: absolute;
      top: 5%;
      right: -550%;
    }
  }
  .sponsors {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-17%, 285%);
    opacity: 0;

    .sponsorsText {
      position: absolute;
      top: 5%;
      right: -425%;
    }
  }
  .gallery {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-125%, 405%);
    opacity: 0;

    .galleryText {
      position: absolute;
      top: 82%;
      right: -460%;
    }
  }
}
