#media-partners-mobile {
  transform: translateX(-500px);
}

.hamMenuLines {
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 0.1;
  z-index: 5111;
  top: -8%;
  right: -40%;

  font-family: "Vidaloka", "Source Serif 4";
  font-size: 40px;
  font-weight: 400;
  line-height: 43px;
  text-align: left;
  color: #edcf89;

  a {
    color: inherit;
    text-decoration: none;
    z-index: 50000;
    opacity: 0;

    position: relative;
    display: inline-block;

    &:after {
      display: block;
      content: "";
      border-bottom: solid 3px #edcf89;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      transform-origin: 100% 50%;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }
  }

  .svgUnderline {
    opacity: 0;
  }

  .wallMag {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-75%, -230%);
    // opacity: 0;

    .magText {
      position: absolute;
      top: -20%;
      right: -450%;
    }

    .svgPath {
      stroke-dasharray: 365;
      stroke-dashoffset: 365;
      animation: 0.4s linear 0.75s forwards connector;
    }
  }


  .developers {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(5%, -47%);
    // opacity: 0;

  

    .devText {
      position: absolute;
      top: -10%;
      right: -550%;
    }

    .svgPath {
      stroke-dasharray: 365;
      stroke-dashoffset: 365;
      animation: 0.4s linear 1.15s forwards connector;
    }
  }

  .mediaPartners {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(23%, 110%);
    // opacity: 0;

    .medText {
      position: absolute;
      top: 5%;
      right: -400%;
    }

    .svgPath {
      stroke-dasharray: 365;
      stroke-dashoffset: 365;
      animation: 0.4s linear 1.55s forwards connector;
    }
  }
  .sponsors {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(0%, 278%);
    // opacity: 0;

    .sponsorsText {
      position: absolute;
      top: 5%;
      right: -475%;
    }

    .svgPath {
      stroke-dasharray: 365;
      stroke-dashoffset: 365;
      animation: 0.4s linear 1.95s forwards connector;
    }
  }
  .gallery {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-105%, 390%);
    // opacity: 0;

    .galleryText {
      position: absolute;
      top: 82%;
      right: -460%; // earlier it was -600%
    }

    .svgPath {
      stroke-dasharray: 415;
      stroke-dashoffset: 415;
      animation: 0.4s linear 2.2s forwards connector;
    }
  }

  @keyframes connector {
    100% {
      stroke-dashoffset: unset;
    }
  }
}

.mobileHamMenuLines {
  position: absolute;
  scale: 0.35;
  z-index: 51210;
  width: 100%;
  height: 100%;

  font-family: "Source Serif 4";
  font-size: 14px;
  font-weight: 600;
  line-height: 43px;
  text-align: left;
  color: #edcf89;

  a {
    color: inherit;
    text-decoration: none;
    z-index: 50000;
    opacity: 0;
  }

  .wallMag {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(118%, -31%);
    // opacity: 0;

    .magText {
      position: absolute;
      top: -12.5%;
      left: -10%;
    }

    .svgPath {
      stroke-dasharray: 365;
      stroke-dashoffset: 365;
      animation: 0.4s linear 0.75s forwards connector;
    }
  }

  .developers {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-47%, -31%);
    // opacity: 0;

    .devText {
      position: absolute;
      top: -12.5%;
      left: -28%;
    }

    .svgPath {
      stroke-dasharray: 365;
      stroke-dashoffset: 365;
      animation: 0.4s linear 2.2s forwards connector;
    }
  }

  .mediaPartners {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(48%, 100%);
    // opacity: 0;

    .medText {
      position: absolute;
      bottom: 32%;
      left: -28%;
    }

    .svgPath {
      stroke-dasharray: 365;
      stroke-dashoffset: 365;
      animation: 0.4s linear 1.55s forwards connector;
    }
  }
  .sponsors {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(162%, 74%);
    // opacity: 0;

    .sponsorsText {
      position: absolute;
      bottom: 35%;
      left: -10%;
    }

    .svgPath {
      stroke-dasharray: 365;
      stroke-dashoffset: 365;
      animation: 0.4s linear 1.15s forwards connector;
    }
  }
  .gallery {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-100%, 74%);
    // opacity: 0;

    .galleryText {
      position: absolute;
      bottom: 35%;
      left: -28%; // earlier it was -40%
    }

    .svgPath {
      stroke-dasharray: 415;
      stroke-dashoffset: 415;
      animation: 0.4s linear 1.8s forwards connector;
    }
  }

  @keyframes connector {
    100% {
      stroke-dashoffset: unset;
    }
  }
}
