.registrationForm {
  position: relative;
  z-index: 1;
  .formField {
    display: flex;
    flex-direction: column;
    .formFieldHeader {
      color: #ffe3ad;
      text-shadow: 0px 0px 8px rgba(229, 195, 132, 0.48);
      font-family: "Source Serif 4";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 43px; /* 238.889% */
      letter-spacing: 1.08px;
    }
    .formErrorMessage {
      color: #ea4335;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 43px; /* 307.143% */
      letter-spacing: 0.84px;
    }
    input {
    //   border: none;
    //   background-color: transparent;
    //   outline: none;
    }
  }
}
