.contactPage {
  position: fixed;
  top: 0rem;
  height: 100lvh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
  overflow-x: hidden;

  .heading {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    h2 {
      font-family: "Rye", sans-serif;
      font-size: 52px;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #ccae57;
      // box-shadow: 0px 0px 5px 0px #8c5a2e80;
    }
  }

  .mobileContainer {
    display: none;
  }

  .cardContainer {
    margin-top: 3rem;
    display: flex;
    height: auto;
    // justify-content: space-evenly;
    position: relative;
    width: 100vw;
    transition: all 0.9s ease-in-out;
    // visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    .first,
    .second,
    .third,
    .fourth,
    .fifth {
      position: absolute;
      opacity: 1;
    }

    // .first {
    //     opacity: 1;
    //     position: absolute;
    //     // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    // }

    // .second {
    //     opacity: 1;
    //     position: absolute;
    //     // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    // }

    // .third {
    //     opacity: 1;
    //     position: absolute;
    //     // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    // }

    // .fourth {
    //     opacity: 1;
    //     position: absolute;
    //     // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    // }

    // .fifth {
    //     opacity: 1;
    //     position: absolute;
    //     // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    // }

    // .first {
    //   transform: rotate(-18deg) translate3d(0, 60px, 0);
    // }

    // .mobile {
    //   display: none;
    // }

    // .second {
    //   transform: rotate(-12deg) translate3d(0, -5px, 0);
    // }

    // .third {
    //   transform: rotate(0) translate3d(0, -30px, 0);
    // }

    // .fourth {
    //   transform: rotate(12deg) translate3d(0, -5px, 0);
    // }

    // .fifth {
    //   transform: rotate(18deg) translate3d(0, 60px, 0);
    // }
  }

  // .active {
  //   justify-content: space-evenly;
  //   opacity: 1;
  //   visibility: visible;

  //   .first {
  //     opacity: 1;
  //     position: static;
  //     transform: rotate(-18deg) translate3d(0px, 70px, 0);
  //     // transition-delay: 1.7s;
  //     transition-delay: 0.5s;
  //   }

  //   .second {
  //     opacity: 1;
  //     position: static;
  //     transform: rotate(-12deg) translate3d(0px, -10px, 0);
  //     // transition-delay: 1.4s;
  //     transition-delay: 0.7s;
  //   }

  //   .third {
  //     opacity: 1;
  //     position: static;
  //     transform: rotate(0) translate3d(0, 0px, 0);
  //     // transition-delay: 1.1s;
  //     transition-delay: 0.9s;
  //   }

  //   .fourth {
  //     opacity: 1;
  //     position: static;
  //     transform: rotate(12deg) translate3d(0px, -10px, 0);
  //     // transition-delay: 0.8s;
  //     transition-delay: 1.1s;
  //   }

  //   .fifth {
  //     opacity: 1;
  //     position: static;
  //     transform: rotate(18deg) translate3d(0px, 70px, 0);
  //     // transition-delay: 0.4s;
  //     transition-delay: 1.4s;
  //   }
  // }

  .cardContainer1 {
    display: flex;
    height: auto;
    // justify-content: center;
    // gap: 5vw;
    margin-top: 2rem;
    position: relative;
    transition: all 0.9s ease-in-out;
    // visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    margin-bottom: 3rem;

    .first,
    .second,
    .third {
      position: absolute;
      opacity: 1;
    }

    .fourth {
      display: none;
    }

    // .first {
    //     position: absolute;
    //     transform: rotate( 10deg) translate3d(0, 20px, 0);
    // }

    // .second {
    //     position: absolute;
    //     transform: rotate( 10deg) translate3d(0, 20px, 0);
    // }

    // .third {
    //     position: absolute;
    //     transform: rotate( 10deg) translate3d(0, 20px, 0);
    // }

    // .first {
    //     transform: rotate( -12deg) translate3d(0, 0px, 0);
    // }

    // .second {
    //     transform: rotate( 0deg) translate3d(0, -30px, 0);
    // }

    // .third {
    //     transform: rotate( 12deg) translate3d(0, 0px, 0);
    // }

    // .first {
    //     opacity: 1;
    //     position: absolute;
    //     // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    // }

    // .second {
    //     opacity: 1;
    //     position: absolute;
    //     // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    // }

    // .third {
    //     opacity: 1;
    //     position: absolute;
    //     // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    // }
  }

  // .active1 {
  //   opacity: 1;
  //   visibility: visible;

  //   .first {
  //     opacity: 1;
  //     position: static;
  //     transform: rotate(-12deg) translate3d(0, 20px, 0);
  //     // transition-delay: 2.6s;
  //     transition-delay: 1.7s;
  //   }

  //   .second {
  //     opacity: 1;
  //     position: static;
  //     transform: rotate(0) translate3d(0,-10px,0);
  //     // transition-delay: 2.3s;
  //     transition-delay: 1.9s;
  //   }

  //   .third {
  //     opacity: 1;
  //     position: static;
  //     transform: rotate(12deg) translate3d(0, 20px, 0);
  //     // transition-delay: 2s;
  //     transition-delay: 2.1s;
  //   }
  // }
}

@media (max-width: 2100px) and (min-width: 1400px) {
  .contactPage {
    .heading {
      margin-top: 5rem;

      h2 {
        font-size: 72px;
      }
    }

    .cardContainer {
      margin-top: 5rem;

      // .first {
      //   transform: rotate(-18deg) translate3d(0, 90px, 0);
      // }

      // .third {
      //   transform: rotate(0deg) translate3d(0, -45px, 0);
      // }

      // .fifth {
      //   transform: rotate(18deg) translate3d(0, 90px, 0);
      // }
    }
  }
}

@media (max-width: 1900px) and (min-width: 1400px) {
  .contactPage {
    .heading {
      margin-top: 4rem;

      h2 {
        font-size: 65px;
      }
    }

    .cardContainer {
      margin-top: 5rem;

      // .first {
      //   transform: rotate(-18deg) translate3d(0, 77px, 0);
      // }

      // .fifth {
      //   transform: rotate(18deg) translate3d(0, 77px, 0);
      // }
    }

    .cardContainer1 {
      margin-top: 1rem;
    }
  }
}

// @media (max-width: 1700px) and (min-width: 1400px) {
//   .contactPage {
//     .cardContainer {
//       .third {
//         transform: rotate(0) translate3d(0, -40px, 0);
//       }
//     }
//   }
// }

@media (max-width: 1400px) {
  .contactPage {
    .cardContainer {
      margin-top: 7vh;

      // .first {
      //   transform: rotate(-18deg) translate3d(0, 64px, 0);
      // }

      // .third {
      //   transform: rotate(0) translate3d(0, -30px, 0);
      // }

      // .fifth {
      //   transform: rotate(18deg) translate3d(0, 64px, 0);
      // }
    }
  }
}

// @media (max-width: 1200px) {
//   .contactPage {
//     .cardContainer {
//       .first {
//         transform: rotate(-18deg) translate3d(0, 60px, 0);
//       }

//       .fifth {
//         transform: rotate(18deg) translate3d(0, 60px, 0);
//       }
//     }

//     .cardContainer1 {
//       gap: 2rem;
//     }
//   }
// }

@media (max-width: 1100px) {
  .contactPage {
    top: 6rem;
  }
}

@media (max-width: 1000px) {
  .contactPage {
    .heading {
      h2 {
        font-size: 62px;
        font-weight: 400;
        line-height: 43px;
        box-shadow: none;
      }
    }

    .cardContainer, 
    .cardContainer1 {
      opacity: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    .mobileContainer {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem 2rem;
    }

    // .cardContainer {
    //   visibility: visible;
    //   flex-direction: row-reverse;

    //   .first {
    //     transform: rotate(0deg) translate3d(0, 0px, 0);
    //     transition-delay: 0;
    //     position: static;
    //   }

    //   .mobile {
    //     display: block;
    //   }

    //   .second {
    //     transform: rotate(0deg) translate3d(0, 0px, 0);
    //     transition-delay: 0;
    //     position: static;
    //   }

    //   .third {
    //     position: static;
    //     transform: rotate(0) translate3d(0, 0px, 0);
    //     transition-delay: 0;
    //   }

    //   .fourth {
    //     display: none;
    //     position: static;
    //     transform: rotate(0deg) translate3d(0, 0px, 0);
    //     transition-delay: 0;
    //   }

    //   .fifth {
    //     position: static;
    //     transform: rotate(0deg) translate3d(0, 0px, 0);
    //     display: none;
    //   }
    // }

    // .cardContainer1 {
    //   gap: 0;
    //   justify-content: space-evenly;
    //   margin-top: 3rem;
    //   visibility: visible;

    //   .first {
    //     position: static;
    //     transform: rotate(0deg) translate3d(0, 0px, 0);
    //     transition-delay: 0;
    //   }

    //   .second {
    //     position: static;
    //     transform: rotate(0deg) translate3d(0, 0px, 0);
    //     transition-delay: 0;
    //   }

    //   .third {
    //     position: static;
    //     transform: rotate(0) translate3d(0, 0px, 0);
    //     transition-delay: 0;
    //   }

    //   .fourth {
    //     display: block;
    //   }
    // }
  }
}

// @media (max-width: 900px) {
//   .contactPage {
//     .cardContainer {
//       justify-content: center;
//       gap: 1rem;
//     }

//     .cardContainer1 {
//       margin-top: 1rem;
//       justify-content: center;
//       gap: 1rem;
//     }
//   }
// }

@media (max-width: 600px) {
  .contactPage {
    height: fit-content;

    .heading {
      margin-top: 2rem;

      h2 {
        font-size: 43px;
        font-weight: 400;
        line-height: normal;
      }

      svg {
        display: none;
      }
    }

    .mobileContainer {
      margin-top: 1.5rem;
      margin-bottom: 0rem;
      height: 70lvh;
      overflow-y: scroll;
    }

    // .cardContainer {
    //   margin-top: 2rem;
    //   justify-content: center;
    //   gap: 1rem;
    //   flex-wrap: wrap-reverse;
    // }

    // .cardContainer1 {
    //   margin-top: 1rem;
    //   justify-content: center;
    //   gap: 1rem;
    //   flex-wrap: wrap;
    //   overflow-y: scroll;
    // }
  }
}

// @media (max-width: 450px) {
//   .contactPage {
//     .cardContainer {
//       gap: 1.5rem;
//       // height: auto;
//       // overflow-y: scroll;
//     }

//     .cardContainer1 {
//       margin-top: 1.5rem;
//       gap: 1.5rem;
//       // height: auto;
//       // overflow-y: scroll;
//     }
//   }
// }

// @media (max-width: 400px) {
//   .contactPage {
//     .heading {
//       margin-top: 1rem;
//     }

//     .cardContainer {
//       margin-top: 1.5rem;
//       gap: 1rem;
//     }

//     .cardContainer1 {
//       gap: 1rem;
//       margin-top: 1rem;
//     }
//   }
// }

@media(max-width: 450px) {

  .contactPage {

    .heading {
      margin-top: 1rem;
    }

    .mobileContainer {
      margin-top: 1rem;
      margin-bottom: 0rem;
      gap: 1rem;
    }
  }
}

@media(max-width: 400px) {

  .contactPage {

    .mobileContainer {
      gap: 0.8rem 0.9rem;
    }
  }
}


