.container {
  position: relative;
  pointer-events: auto;
  aspect-ratio: 164/233;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cardContent {
    position: absolute;
    display: flex;
    max-width: 280.5px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 1;

    .contactBlock {
      display: flex;
      gap: 40px;
      margin-top: 1px;
    }

    .heading {
      text-align: center;
      text-shadow: 0 0 1px rgba(255, 226, 191, 0.1);
      font-family: "Playfair Display", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.56px;
      background: linear-gradient(
        141deg,
        #d4a753 38.83%,
        #907440 53.62%,
        #d4a753 75.62%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (width > 400px) {
        font-size: 18px;
      }
    }

    .desc {
      text-align: center;
      font-family: "Source Serif Pro", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.36px;
      background: linear-gradient(
        112deg,
        #d4a753 25.95%,
        #aa8237 44.71%,
        #d4a753 72.61%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (width > 400px) {
        font-size: 14px;
      }
    }

    .image {
      width: 60%;
      height: auto;
    }
  }

  .background {
    position: absolute;
    width: 100%;
    max-width: 272.5px;
    height: auto;
    z-index: 0;
  }
}
