.epcBack {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.pageWrapper {
  position: relative;
  top: 0;
  padding-top: 2rem;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    h2 {
      font-family: "Rye", sans-serif;
      font-size: 52px;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #ccae57;
      text-transform: uppercase;
    }
  }

  .backBtn {
    position: absolute;
    top: 0rem;
    left: 2rem;
  }

  .pdfContainer {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }

  .carouselButtons {
    .carouselLeft {
      position: fixed;
      top: 50%;
      left: 0;
      padding-left: 5rem;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (max-width: 1000px) {
        top: 87%;
      }

      &:hover {
        @media (min-width: 1000px) {
          transform: translateX(-0.5rem);
        }
      }
    }
    .carouselRight {
      position: fixed;
      top: 50%;
      right: 0;
      padding-right: 5rem;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (max-width: 1000px) {
        top: 87%;
      }

      &:hover {
        @media (min-width: 1000px) {
          transform: translateX(0.5rem);
        }
      }
    }
  }
}

@media (max-width: 4000px) and (min-width: 2200px) {
  .epcBack {
    overflow-x: hidden;
  }

  .pageWrapper {
    padding-top: 5rem;
    overflow-x: hidden;

    .heading {
      gap: 1.8rem;
      transform: scale(1.5);
    }

    .backBtn {
      position: absolute;
      top: 1rem;
      left: 3rem;
    }
  }
}

@media (max-width: 3000px) and (min-width: 2200px) {
  .pageWrapper {
    .heading {
      gap: 1.5rem;
      transform: scale(1.3);
    }
  }
}

@media (max-width: 2200px) and (min-width: 1850px) {
  .pageWrapper {
    padding-top: 3rem;

    .heading {
      gap: 2rem;

      h2 {
        font-size: 72px;
      }
    }

    .backBtn {
      top: 1rem;
    }
  }
}

@media (max-width: 1850px) and (min-width: 1500px) {
  .pageWrapper {
    padding-top: 3rem;

    .heading {
      h2 {
        font-size: 65px;
      }
    }

    .backBtn {
      top: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .pageWrapper {
    .heading {
      padding-top: 0rem;

      h2 {
        font-size: 40px;
      }

      svg {
        display: none;
      }
    }

    .backBtn {
      top: 0;
      left: 0;
    }

    .pdfContainer {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 400px) {
  .pageWrapper {
    .heading {
      padding-top: 0rem;
    }

    .backBtn {
      left: 0rem;
      transform: translateX(-1rem);
    }
  }
}

@media (max-width: 350px) {
  .pageWrapper {
    .heading {
      h2 {
        font-size: 35px;
      }
    }
  }
}
