.mainwrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  pointer-events: none;

  .headerContainer {
    position: absolute;
    width: 100vw;
  }

  .cardContainer {
    position: absolute;
    width: 100vw;
    height: 100lvh;
    z-index: -10;
    pointer-events: none;
    .cardsLeftOuterContainer {
      position: absolute;
      width: 50vw;
      height: 100lvh;
      .cardsFollowZone {
        position: absolute;
        height: 500px;
        right: 10vw;
        bottom: 10vh;
        width: 25vw;
        // border: #fff 1px solid;
      }
      .cardContainer {
        position: absolute;
        height: 500px;
        right: 10vw;
        bottom: 10vh;
        width: 25vw;
        border: #fff 1px solid;
      }
    }
    .cardsRightOuterContainer {
      position: absolute;
      left: 50vw;
      width: 50vw;
      height: 100lvh;
      .cardsFollowZone {
        position: absolute;
        bottom: 10vh;
        left: 10vw;
        height: 500px;
        width: 25vw;
      }
      .cardContainer {
        position: absolute;
        bottom: 10vh;
        left: 10vw;
        height: 500px;
        width: 25vw;
        border: #fff 1px solid;
      }
    }
  }

  .machinecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 10;

    @media (width <= 1000px) {
      display: none;
    }

    .cards {
      position: relative;
      top: -4rem;
      pointer-events: auto;
    }

    .cards:nth-of-type(2) {
      transform: scaleX(-1);
    }
  }
}
