.mainwrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    pointer-events: none;

    .navcontainer{
        position: absolute;
        right: -13%;
        top: 45%;
        transform: translateY(-50%);
    }

    .headerContainer {
        position: absolute;
        width: 100vw;
    }

    .machinecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 10;

        @media (width <= 1000px) {
            display: none;
        }

        .cards {
            position: relative;
            top: -4rem;
            pointer-events: auto;
        }

        .cards:nth-of-type(2) {
            transform: scaleX(-1);
        }
    }
}