@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #190d2c;
  cursor: url("../assets/Global/Cursor.svg"), default;
}

.htmlScreen iframe,
#iframe-overlay {
  width: 1000px;
  height: 750px;
  transform: rotateY(180deg);
  border: none;
  border-radius: 20px;
  background-color: black;
  position: absolute;
}

#iframe-overlay {
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s linear;
  background: url("/Videos/preloaderCoinVideo.gif");
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (width > 1000px) {
  #iframe-overlay {
    opacity: 1;
  }
}

#iframe-overlay + div {
  width: 1000px !important;
  height: 750px !important;
}

#iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1000px;
  height: 750px;
}

.ant-select-selector {
  width: 90% !important;
  background-color: transparent !important;
  padding: 0 !important;
  border: none !important;
  font-family: Vidaloka !important;
  font-size: 28px !important;
  line-height: 43px !important;
  padding-left: 2px !important;
}

.ant-select-selection-placeholder {
  color: #efd48d !important;
}
@media screen and (max-width: 768px) {
  .ant-select-selection-placeholder,
  .ant-select-selection-item {
    font-size: 20px !important;
  }
}

.ant-select-selection-overflow-item-suffix .ant-select-selection-search-input {
  transform: translate(-10px, -2px) !important;
}

.ant-select-multiple .ant-select-selection-placeholder {
  transform: translateX(-11px) translateY(-50%) !important;
}
.ant-select-dropdown {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #daac6a;
}

.ant-select-item {
  padding: 0 !important;
  color: unset !important;
}

.ant-select-item:hover {
  background-image: linear-gradient(
    180deg,
    #deb372 0%,
    #d5a261 48.5%,
    #ecce88 100%
  ) !important;
  color: #1b112a !important;
}

.ant-select-item-option-selected {
  background-color: transparent !important;
}

.ant-select-multiple .ant-select-selection-item {
  color: #efd48d !important;
  padding-inline-start: 0 !important;
  border: 1px solid !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-select-multiple
  .ant-select-selection-item
  .ant-select-selection-item-content {
  padding-inline-start: 8px !important;
  line-height: 43px !important;
}

.ant-select-selection-item {
  color: #efd48d !important;
  padding-inline-start: 0 !important;
}

.anticon {
  svg {
    fill: #efd48d !important;
  }
}

.ant-select-item-option-content {
  text-align: center;
  font-family: Vidaloka;
  font-size: 20px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0.06em;
}
.ant-select-item-option-active {
  background-image: linear-gradient(
    180deg,
    #deb372 0%,
    #d5a261 48.5%,
    #ecce88 100%
  ) !important;
  color: #1b112a !important;
}

@media screen and (max-width: 768px) {
  .ant-select-item-option-content {
    font-size: 16px;
  }
}

.ant-select-selection-search-input {
  color: #efd48d !important;
  background: unset !important;
  background-clip: unset !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;
  transform: translate(-10px, -6px) !important;
}

.ant-select-clear {
  color: #efd48d !important;
  background: transparent !important;
}
