.scrollWrapper {
  height: 100lvh;
  pointer-events: none;
  overflow-x: hidden;

  @media (width <= 1000px) {
    height: fit-content;
  }
}

.desktopPage {
  position: fixed;
  width: 100vw;
  height: 100lvh;
  display: block;

  @media (width <= 1000px) {
    display: none;
  }
}

.mobilePage {
  display: none;

  @media (width < 1000px) {
    display: block;
  }

  .locationRedirect {
    pointer-events: auto;
    position: relative;
    top: 50px;
    cursor: pointer;

    @media (width <= 585px) {
      left: 50px;
    }

    @media (width > 585px) {
      left: calc(100vw - 100px);
      top: 60px;
    }

    @media (width >= 1000px) {
      display: none;
    }

    img {
      aspect-ratio: 1;
      height: 28px;
      width: auto;

      @media (width > 585px) {
        height: 35px;
      }
    }
  }

  .mobileBackdrop {
    position: fixed;
    width: 100vw;
    height: 100lvh;
    top: 0;
    z-index: -100000;
  }
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  min-height: 100lvh;
  top: 0;
  // backdrop-filter: blur(10px);
}

.mainTitle {
  color: white;
  pointer-events: auto;

  &:hover {
    color: yellow;
  }
}

.hamBtn {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 5200;

  @media (width > 1920px) {
    top: 60px;
    left: 60px;
  }

  @media screen and (max-width: 585px) {
    right: 20px;
    top: 15px;
    left: unset;
  }
}

.navTickets {
  position: fixed;
  right: 2%;
  top: 49%;
  transform: translateY(-50%);
  z-index: 5000;

  @media(width<=1405px) {
    transform: scale(0.8) translateY(-50%);
  }

  @media (width > 1920px) {
    transform: translateY(-50%) scale(1.4) translateX(-8%) !important;
  }
}
