.page {
    position: relative;
    width: 100vw;
    height: 100dvh;
}

.overlay {
    pointer-events: none;
    position: absolute;
    width: 100vw;
    min-height: 100dvh;
    top: 0;
    // backdrop-filter: blur(10px);
}

.mainTitle {
    color: white;
    pointer-events: auto;

    &:hover {
        color: yellow;
    }
}