.galleryBack {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.galleryContainer {
  position: relative;
  top: 0;
  padding-top: 2rem;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    h2 {
      font-family: "Rye", sans-serif;
      font-size: 52px;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #ccae57;
      text-transform: uppercase;
    }
  }

  .backBtn {
    position: absolute;
    top: 0rem;
    left: 2rem;
  }

  .images {
    margin: 2.5rem auto;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    overflow: hidden;
    text-align: center;
    cursor: pointer;

    .pic {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .vStrech {
      grid-row: span 2;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .hStrech {
      grid-column: span 2;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .vhStrech {
      grid-row: span 2;
      grid-column: span 2;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 4000px) and (min-width: 2200px) {
  .galleryBack {
    overflow-x: hidden;
  }

  .galleryContainer {
    padding-top: 5rem;
    overflow-x: hidden;

    .heading {
      gap: 1.8rem;
      transform: scale(1.5);
    }

    .backBtn {
      position: absolute;
      top: 1rem;
      left: 3rem;
    }

    .images {
      margin: 5rem auto;
      margin-top: 7rem;
      padding-bottom: 0rem;
      max-width: 3100px;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-auto-rows: 400px;

      .largeScreen {
        grid-column: span 2;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      #largeScreen {
        display: none;
      }
    }
  }
}

@media (max-width: 3500px) and (min-width: 2200px) {
  .galleryContainer {
    .images {
      max-width: 2600px;
      grid-gap: 2.5rem;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-auto-rows: 350px;

      #largeScreen1 {
        display: none;
      }
    }
  }
}

@media (max-width: 3000px) and (min-width: 2200px) {
  .galleryContainer {
    .heading {
      gap: 1.5rem;
      transform: scale(1.3);
    }

    .images {
      margin: 5rem auto;
      max-width: 2100px;
      grid-gap: 1.7rem;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-auto-rows: 320px;

      .largeScreen {
        display: block;
      }

      #largeScreen {
        display: none;
      }
    }
  }
}

@media (max-width: 2200px) and (min-width: 1850px) {
  .galleryContainer {
    padding-top: 3rem;

    .heading {
      gap: 2rem;

      h2 {
        font-size: 72px;
      }
    }

    .images {
      margin: 4rem auto;
      margin-top: 4rem;
      max-width: 1600px;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 300px;

      .largeScreen {
        display: none;
      }

      #largeScreen1 {
        display: none;
      }
    }

    .backBtn {
      top: 1rem;
    }
  }
}

@media (max-width: 1850px) and (min-width: 1500px) {
  .galleryContainer {
    padding-top: 3rem;

    .heading {
      h2 {
        font-size: 65px;
      }
    }

    .backBtn {
      top: 1rem;
    }

    .images {
      margin: 4rem auto;
      max-width: 1300px;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 300px;

      .largeScreen {
        display: none;
      }
    }
  }
}

@media (max-width: 1500px) and (min-width: 100px) {
  .galleryContainer {
    .images {
      .largeScreen {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .galleryContainer {
    .heading {
      padding-top: 0rem;

      h2 {
        font-size: 40px;
      }

      svg {
        display: none;
      }
    }

    .backBtn {
      top: 0;
      left: 0;
    }
  }
}

@media (max-width: 500px) {
  .galleryContainer {
    .images {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-auto-rows: 200px;
      grid-gap: 0.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 400px) {
  .galleryContainer {
    .heading {
      padding-top: 0rem;
    }

    .backBtn {
      left: 0rem;
      transform: translateX(-1rem);
    }

    .images {
      grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
      grid-auto-rows: 140px;
      grid-gap: 0.5rem;
      margin-top: 1.7rem;
    }
  }
}

@media (max-width: 350px) {
  .galleryContainer {
    .heading {
      h2 {
        font-size: 35px;
      }
    }
  }
}
