.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/backgroundNoiceImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
  }

  .backButton {
    position: absolute;
    top: 30px;
    left: 20px;

    @media screen and (width <= 500px) {
      left: 0;
      top: 0;
    }
  }

  .comingSoon {
    font-family: "Rye";
    font-size: 60px;
    font-weight: 400;
    // line-height: 38.12px;
    letter-spacing: 0.02em;
    text-align: center;
    color: transparent;
    padding: 0 2rem;

    background: linear-gradient(
      304.67deg,
      #8d7329 23.42%,
      #e3c66e 38.88%,
      #ba9a3b 53.68%,
      #d8bb64 74.28%
    );
    background-clip: text;
    -webkit-background-clip: text;

    @media screen and (width <= 450px) {
      font-size: 40px;
    }
  }
}
