.eventsBack {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow: hidden;
}

.line{
  @media(width<1147px){
    display: none;
  }
}

.ham {
  // position: fixed;
  position: absolute;
  top: 30px;
  left: 20px;
  @media (width>1920px) {
    transform: scale(1.3);
    left: 40px;
    top: 50px;
  }
}

.reg {
  position: relative;
  top: 80px;
  padding: 0 20px;
  z-index: 10;
  height: 100px;

  @media (width>1920px) {
    top: 20px;
  }

  @media (width<600px) {
    opacity: 0;
  }
}
.eventsPage {
  // position: fixed;
  position: absolute;
  top: 0rem;
  // height: 100lvh;
  // height: 100vh;
  // width: 100vw;
  opacity: 1;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;

  @media (width<=600px) {
    // margin-top: 6rem;
    position: relative;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .heading {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);

    h2 {
      font-family: "Rye", sans-serif;
      font-size: 52px;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #ccae57;
    }
  }

  .gridcontainer {
    position: relative;
    // top: 25%;
    padding-top: 13%;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4rem;
    // left: 50%;
    width: 90%;
    justify-content: center;
    align-items: center;

    @media (width<550px) {
      width: auto;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      align-items: center;
      justify-content: center;
      @media (width<550px) {
        gap: 0rem;
        // transform: scale(0.8) translateY(-10%);
      }

      .box {
        display: flex;
        position: relative;
        margin: auto;
        pointer-events: auto;
        transition: all 0.3s ease-out;

        &:hover {
          transform: scale(1.1);
        }
        // @media(width<1700px){
        //   transform: scale(0.8);
        // }
        @media (width<1700px) {
          transform: scale(0.95);
          &:hover {
            transform: scale(1.1);
          }
        }
        @media (width<1110px) {
          transform: scale(0.8);
          &:hover {
            transform: scale(1);
          }
        }
        @media (width<550px) {
          transform: scale(0.6);
          display: none;
          &:hover {
            transform: scale(0.8);
          }
          // height: 200px;
        }
        .dance {
          position: absolute;
          left: 0.5%;
          bottom: 1%;
          height: 100%;
          width: auto;
        }
        .drama {
          position: absolute;
          right: 0.5%;
          bottom: 1%;
          height: 100%;
          width: auto;
        }
        .quiz {
          position: absolute;
          right: 0.5%;
          bottom: 1%;
          height: 100%;
          width: auto;
        }
        .music {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 80%;
          width: auto;
        }
        .phototxt {
          color: #fff;
          font-family: "Thedus Condensed Light";
          font-size: 70px;
          font-style: normal;
          font-weight: 900;
          line-height: 70%;
          position: absolute;
          left: 47%;
          top: 45%;
          transform: translateY(-50%);
        }
        .cameratxt {
          color: #fff;
          font-family: "Thedus Condensed Light";
          font-size: 70px;
          font-style: normal;
          font-weight: 900;
          line-height: 70%;
          position: absolute;
          left: 47%;
          top: 65%;
          transform: translateY(-50%);
        }
        .fashiontxt {
          color: #fff;
          font-family: "Thedus Condensed Light";
          font-size: 70px;
          font-style: normal;
          font-weight: 900;
          line-height: 70%;
          position: absolute;
          right: 6%;
          top: 45%;
          transform: translateY(-50%);
        }
        .dancetxt {
          color: #fff;
          font-family: "Thedus Condensed Light";
          font-size: 70px;
          font-style: normal;
          font-weight: 900;
          line-height: 70%;
          position: absolute;
          right: 15%;
          top: 45%;
          transform: translateY(-50%);
        }
        .dramatxt {
          color: #fff;
          font-family: "Thedus Condensed Light";
          font-size: 70px;
          font-style: normal;
          font-weight: 900;
          line-height: 70%;
          position: absolute;
          left: 15%;
          top: 45%;
          transform: translateY(-50%);
        }
        .quiztxt {
          color: #fff;
          font-family: "Thedus Condensed Light";
          font-size: 70px;
          font-style: normal;
          font-weight: 900;
          line-height: 70%;
          position: absolute;
          left: 15%;
          top: 45%;
          transform: translateY(-50%);
        }
        .musictxt {
          color: #fff;
          font-family: "Thedus Condensed Light";
          font-size: 70px;
          font-style: normal;
          font-weight: 900;
          line-height: 70%;
          position: absolute;
          left: 15%;
          top: 45%;
          transform: translateY(-50%);
        }
        .fill {
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 54px;
          opacity: 0.6;
          background: #120a1e;
          filter: blur(10.449999809265137px);
        }
      }
    }
  }
  .mobilecontainer {
    position: relative;
    display: none;
    padding-bottom: 2rem;
    @media (width<550px) {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 20%;
    }
    @media (width<400px) {
      margin-top: 23%;
    }
    .mobileimg {
      pointer-events: auto;
    }
  }
}

@media (max-width: 3100px) and (min-width: 2100px) {
  .eventsPage {
    .heading {
      margin-top: 5rem;

      h2 {
        font-size: 92px;
      }
    }
  }
}

@media (max-width: 2100px) and (min-width: 1800px) {
  .eventsPage {
    .heading {
      margin-top: 5.5rem;

      h2 {
        font-size: 72px;
      }
    }
  }
}

@media (max-width: 1800px) and (min-width: 1400px) {
  .eventsPage {
    .heading {
      margin-top: 4rem;

      h2 {
        font-size: 65px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .eventsPage {
    .heading {
      h2 {
        font-size: 62px;
        font-weight: 400;
        line-height: 43px;
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .eventsPage {
    .heading {
      margin-top: 0;
      margin-bottom: 0;

      h2 {
        font-size: 43px;
        margin-top: 0;
        margin-bottom: 0rem;
      }

      svg {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .eventsPage {
    .heading {
      margin-top: 1rem;
    }
  }
}
