.preloader {
  width: 100vw;
  height: 100lvh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  z-index: 9999999;

  @media (width > 1000px) {
    img{
      height: 125%;
    } 
  }

}
