.name {
  color: #fff;
  text-align: right;
  font-family: "Thedus Condensed Light", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 67.021% */
  letter-spacing: 2.867px;
  mix-blend-mode: difference;
  text-align: left;
  margin-left: 1.8rem;
}

.info {
  display: flex;
  flex-direction: row;
  position: relative;

  .button {
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
    gap: 0.7rem;

    .date {
      color: #fff;
      font-family: "Tilt Warp", sans-serif;
      font-size: 19.52px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 571.875% */
      letter-spacing: 0.976px;
      mix-blend-mode: difference;
      padding-top: 0.5rem;
      text-align: left;
    }

    .youtube {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;

      a {
        display: flex;
        text-align: center;
        gap: 7px;
        padding: 0 10px;
        align-items: center;
        text-decoration: none;
        background-color: #e4c66b;
        height: 30px;
        width: fit-content;
        border-radius: 23px;
        color: #000000;

        Image {
            height: 12px;
            width: 15px;
        }

        p {
          font-family: Thedus Condensed Light,sans-serif;
          font-size: 14px;
          font-weight: 900;
          line-height: 111.63px;
          letter-spacing: 0.05em;
          text-align: left;
        }
      }
    }
  }

  .artistImg {
    position: absolute;
    right: 0;
    top: -40px;
  }
}

@media(max-width: 400px) {
    .name  {
        font-size: 43px;
        line-height: 30px;
    }
}

@media(max-width:370px) {
    .name {
        margin-left: 1.3rem;
    }

    .info {
        .button {
            margin-left: 1.3rem;
        }
    }
}
