.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainContainer {
    height: 100vh;
    width: 100vw;
    .scrollbar {
      @media screen and (width <= 1150px) {
        display: none;
      }
      margin: 5% 0;
      height: 80vh;
      width: 10vh;
      position: absolute;
      right: 0px;
      top: 5vh;
      transform: translateX(-2rem);
      display: flex;
      justify-content: center;

      .scrollbarTrack {
        width: 8px;
        height: 100%;
        border-radius: 8px;
        background-image: linear-gradient(
          90deg,
          #f9e6a2 -10.51%,
          #d29e5d 48.78%,
          #f9e6a2 111.99%
        );
      }

      .scrollbarThumb {
        touch-action: none;
        position: absolute;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }

    .backButton {
      position: absolute;
      top: 5px;
      left: 10px;
      z-index: 100;

      @media (width <= 500px) {
        left: -10px;
      }
      // @media(width <= 450px) {
      //   left: 50%;
      //   transform: translateX(-50%);
      // }
    }

    .title {
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      height: 70px;
      font-family: Rye;
      font-size: 52px;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0.05em;
      text-align: left;
      background: linear-gradient(
        0deg,
        #fdfbb7 -76.04%,
        #efd48d -13.59%,
        #d19b5b 71.28%,
        #f9e6a2 145.83%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (width <= 450px) {
        font-size: 32px;
      }
    }
    .sponsorsContainer {
      z-index: 4;
      position: absolute;
      top: 90px;
      left: 50%;
      transform: translateX(-50%);
      // background-color: #fff;
      width: 80vw;
      height: calc(100vh - 100px);
      position: relative;
      overflow: scroll;
      display: grid;
      gap: 60px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      .sponsorItemContainer {
        .sponsorItem {
          margin-bottom: 50px;
          height: 300px;
          // background-color: rebeccapurple;
          display: flex;
          gap: 20px;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .sponsorImg {
            // height: 50px;
            // width: 100%;
            // height: 100%;
            display: block;
            height: 200px;
            max-width: 100%;
          }
          .sponsorName {
            
            color: #ffe3ad;
            text-shadow: 0px 0px 8px rgba(229, 195, 132, 0.48);
            font-family: "Source Serif 4";
            font-size: 38px;
            font-style: normal;
            font-weight: 400;
            line-height: 43px; /* 238.889% */
            letter-spacing: 1.08px;
            text-align: center;
          }
          .sponsorDescription {
            font-weight: 400;
            line-height: 43px;
            letter-spacing: 0.05em;
            text-align: center;
            color: black;
          }
        }
        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 7;
        }
        &:nth-child(2) {
          grid-column-start: 1;
          grid-column-end: 4;

          @media (width <= 800px) {
            grid-column: span 6;
          }
        }
        &:nth-child(3) {
          grid-column-start: 4;
          grid-column-end: 7;

          @media (width <= 800px) {
            grid-column: span 6;
          }
        }
        grid-column: span 2;

        @media (width <= 1300px) {
          grid-column: span 3;
        }

        @media (width <= 800px) {
          grid-column: span 6;
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/backgroundNoiceImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
  }

  .backButton {
    position: absolute;
    top: 30px;
    left: 20px;

    @media screen and (width <= 500px) {
      left: 0;
      top: 0;
    }
  }
}
