.aboutUs {
    opacity: 0;
    color: #FFE3AD;
    font-family: 'Source Serif 4', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    gap: 50px;
    height: 100dvh;
    margin-left: 12.5%;

    .text {
        text-shadow: 0px 0px 8px rgba(229, 195, 132, 0.48);
        font-style: normal;
        font-weight: 400;
        letter-spacing: 2.1px;
        font-size: 20px;
    }
}