.aboutUs {
  opacity: 0;
  color: #ccae57;
  font-family: "Source Serif 4", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;

  height: 100dvh;
  margin-left: 8.5%;

  @media (width <= 1000px) {
    width: 100%;
    margin-left: 0;
    margin-top: 100px;
    justify-content: flex-start;
    gap: 30px;
  }

  @media (height <= 915px) and (width <= 700px) {
    gap: 20px;
    margin-top: 120px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 40px 50px;
    position: relative;

    .middle {
      margin-top: 40px;
      @media (width <= 1000px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .text {
      text-shadow: 0px 0px 8px rgba(229, 195, 132, 0.48);
      font-style: normal;
      font-weight: 400;
      letter-spacing: 2.1px;
      font-size: 22px;
      text-align: center;

      @media (width <= 1000px) {
        font-size: 16px;
        width: 70%;
      }

      @media (height <= 915px) and (width <= 700px) {
        width: 80%;
        font-size: 12px;
      }
    }

    .top {
      display: flex;
      width: 488px;
      justify-content: space-between;
      align-items: center;

      @media (width <= 1000px) {
        width: 410px;
      }

      @media (width <= 500px) {
        width: 350px;
      }

      @media (width <= 405px) {
        width: 300px;
      }

      .spade {
        aspect-ratio: 42 / 28.59;
        width: 42px;

        &:first-of-type {
          transform: rotateY(180deg);
        }

        @media (width <= 500px) {
          width: 30px;
        }

        @media (width <= 405px) {
          width: 25px;
        }
      }

      .title {
        text-align: center;
        text-shadow: 0px 0px 5px rgba(140, 90, 46, 0.5);
        font-family: Rye;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 3.6px;
        background: var(
          --gold-title,
          linear-gradient(
            180deg,
            #876d24 -18.6%,
            #f3d57b 18.4%,
            #b69637 68.61%,
            #dcbf69 113.54%
          )
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (width <= 1000px) {
          font-size: 50px;
        }

        @media (width <= 500px) {
          font-size: 42px;
        }

        @media (width <= 405px) {
          font-size: 35px;
        }
      }
    }

    .rightframe {
      display: flex;
      flex-direction: column;
      transform: scale(0.62);
      position: absolute;
      top: -18.5%;
      right: 0;
    }
    .leftframe {
      display: flex;
      flex-direction: column;
      transform: scale(-0.62, 0.62);
      position: absolute;
      top: -18.5%;
      left: 0;
    }
    .toprightframe {
        transform: scale(0.5);
        position: absolute;
        right: -5%;
        top: 6%;
    }
    .topleftframe{
        transform: scale(-0.5, 0.5);
        position: absolute;
        left: -5%;
        top: 6%;
    }
  }
}
