.aboutUs {
    opacity: 0;
    color: #FFE3AD;
    font-family: 'Source Serif 4', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    gap: 50px;
}