.header {
  width: 100%;
  display: flex;
  position: relative;
  top: 30px;
  padding: 0 20px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-3.5rem);

  @media (width <= 1150px){
    transform: scale(0.9) translateY(-4.5rem);
  }
}