.container {
  position: fixed;
  overflow-y: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100lvh;
  width: 100vw;
  background-color: rgba(25, 13, 44, 0.85);

  button {
    background-color: transparent;
    position: fixed;
    top: 2rem;
    right: 2rem;
    border: none;
    cursor: pointer;

    svg {
      aspect-ratio: 1 / 1;
      width: 1.875rem;
    }
  }

  .carouselContainer {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .cardContainer {
      // padding: 2.5%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .cardContent {
          width: 842px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          img {
            width: 50%;
            height: auto;
            -webkit-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none;
            user-select: none;
            pointer-events: none; 
          }
        }

    }

    .left {
      cursor: pointer;
      padding-left: 4rem;
      transition: transform 200ms ease-in-out;

      &:hover {
        transform: translateX(-10px);
      }
    }

    .right {
      cursor: pointer;
      padding-right: 4rem;
      transition: transform 200ms ease-in-out;

      &:hover {
        transform: translateX(10px);
      }
    }
  }
}

@media(max-width: 1200px) {
  .container {
    overflow-x: hidden;
  
    .carouselContainer {
      .cardContainer {
        
        .cardContent {
            width: 100%;
          }
  
      }
    }
  }
}

@media(max-width: 700px) {
  .container {
  
    button {
  
      svg {
        aspect-ratio: 1 / 1;
        width: 1.275rem;
      }
    }
  
    .carouselContainer {
  
      .cardContainer {
        
        .cardContent {
  
            img {
              width: 70%;
            }
          }
  
      }
  
      .left {
        transform: scale(0.8);
        padding-left: 2rem;
  
        &:hover {
          transform: scale(0.8);
        }
      }
  
      .right {
        transform: scale(0.8);
        padding-right: 2rem;
  
        &:hover {
          transform: scale(0.8);
        }
      }
    }
  }
}

@media(max-width: 500px) {
  .container {
  
    .carouselContainer {
  
      .cardContainer {
        
        .cardContent {
  
            img {
              transform: translateY(-2rem);
              width: 75%;
            }
          }
  
      }
  
      .left {
        position: fixed;
        top: 88%;
        left: 2rem;
        transform: scale(0.8);
        padding-left: 0rem;
  
        &:hover {
          transform: scale(0.8);
        }
      }
  
      .right {
        position: fixed;
        top: 88%;
        right: 2rem;
        transform: scale(0.8);
        padding-right: 0rem;
  
        &:hover {
          transform: scale(0.8);
        }
      }
    }
  }
}

@media(max-width: 400px) {
  .container {
  
    .carouselContainer {
  
      .cardContainer {
        
        .cardContent {
  
            img {
              width: 75%;
            }
          }
  
      }
  
      .left {
        position: fixed;
        top: 81%;
        left: 3rem;
        transform: scale(0.8);
        padding-left: 0rem;
  
        &:hover {
          transform: scale(0.8);
        }
      }
  
      .right {
        position: fixed;
        top: 81%;
        right: 3rem;
        transform: scale(0.8);
        padding-right: 0rem;
  
        &:hover {
          transform: scale(0.8);
        }
      }
    }
  }
}









