$heading-line-height: 6.25rem;
$cross-btn-width: 1.875rem;

.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #110611;
  overflow-y: scroll;

  .heading {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2.2rem;

    h2 {
      font-family: "Pixelify Sans";
      font-size: 39.6px;
      font-weight: 600;
      text-align: center;
      background: linear-gradient(180deg, #FFCFF3 -38.31%, #997C92 174.55%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: $heading-line-height;
      border-bottom: 2.63px solid #FFCFF3;
    }
  }

  button {
    background-color: transparent;
    position: fixed;
    top: calc(
      2rem + ($heading-line-height + 0.156rem) / 2 - $cross-btn-width / 2
    );
    right: 2rem;
    border: none;
    cursor: pointer;

    svg {
      aspect-ratio: 1 / 1;
      width: $cross-btn-width;
    }
  }

  .eventContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    justify-content: center;
    align-items: center;
  }
}
