.card {
  height: auto;
  width: 175px;
  background: linear-gradient(
    154.77deg,
    #0d0d0d 0.23%,
    #181818 24.62%,
    #0b0b0b 56.47%,
    #1a1a1a 99.77%
  );
  display: flex;
  flex-direction: column;
  border: 1px solid #e3c041;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 5px;
  position: relative;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(0.95);
    box-shadow: 0px 4px 4px 0px #e3c041af;
  }

  .center {
    margin-top: 32px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

    .name {
      font-family: "Playfair Display";
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.04em;
      text-align: center;
      background: linear-gradient(
        112.17deg,
        #d4a753 25.95%,
        #d2a146 44.71%,
        #d4a753 72.61%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .imgContainer {
      height: 100%;
      width: 100%;
      .profileImg {
        width: 125px;
        height: 100%;
        margin: auto;
        display: block;
      }
    }

    .desc {
      font-family: "Source Serif 4";
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      width: 100%;
      line-height: 20px;
      min-height: 42px;
      background: linear-gradient(
        112.17deg,
        #d4a753 25.95%,
        #d2a146 44.71%,
        #d4a753 72.61%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      flex-direction: column;
      gap: 0px;

      p {
        font-size: 14px;

        @media (width <= 335px) {
          display: inline;
          font-size: 12px;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 1.8rem;
      padding-top: 5px;
    }
  }

  .top {
    position: absolute;
    top: 8px;
    left: 12px;
  }

  .bottom {
    position: absolute;
    right: 12px;
    bottom: 8px;
  }
}

@media (max-width: 3100px) and (min-width: 2100px) {
  .card {
    height: auto;
    width: 260px;
    border: 2px solid #e3c041;
    transform: scale(1);

    .center {
      margin-top: 45px;
      margin-bottom: 25px;
      gap: 0px;

      .name {
        font-size: 26px;
      }

      .imgContainer {
        .profileImg {
          width: 185px;
          height: 100%;
        }
      }

      .desc {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 7px;
        
        p {
          font-size: 19px;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 7px;
        min-height: 35px;

        svg {
          height: 30px;
          width: 34px;
        }
      }
    }

    .top {
      position: absolute;
      top: 8px;
      left: 12px;

      svg {
        width: 29px;
        height: 45px;
      }
    }

    .bottom {
      position: absolute;
      right: 12px;
      bottom: 8px;

      svg {
        width: 29px;
        height: 45px;
      }
    }
  }
}

@media (max-width: 2100px) and (min-width: 1600px) {
  .card {
    height: auto;
    width: 230px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e3c041;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
    position: relative;
    transform: scale(0.95);

    .center {
      margin-top: 45px;
      margin-bottom: 25px;
      gap: 0px;

      .name {
        font-size: 22px;
      }

      .imgContainer {
        .profileImg {
          width: 155px;
          height: 100%;
        }
      }

      .desc {
        font-size: 17px;
        line-height: 23px;
        width: 100%;
        min-height: 46px;
        
        p {
          font-size: 17px;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 7px;
        min-height: 35px;

        svg {
          height: 28px;
          width: 32px;
        }
      }
    }

    .top {
      position: absolute;
      top: 8px;
      left: 12px;

      svg {
        width: 25px;
        height: 40px;
      }
    }

    .bottom {
      position: absolute;
      right: 12px;
      bottom: 8px;

      svg {
        width: 25px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 1900px) and (min-width: 1600px) {
  .card {
    transform: scale(0.9);
  }
}

@media (max-width: 500px) {
  .card {
    height: auto;
    width: 40vw;

    &:hover {
      transform: scale(0.9);
      box-shadow: none;
    }

    .center {
      margin-top: 30px;
      margin-bottom: 20px;
      gap: 5px;

      .name {
        font-size: 16px;
      }

      .imgContainer {
        height: 100%;
        width: 100%;

        .profileImg {
          width: 30vw;
          height: 100%;
        }
      }

      .desc {
        font-size: 12.5px;
        width: 100%;
        line-height: 18px;
        min-height: 35.8px;

        p {
          font-size: 12.5px;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        padding-top: 5px;

        svg {
          height: 14px;
          width: 17px;
        }
      }
    }

    .top {
      position: absolute;
      top: 8px;
      left: 8px;

      svg {
        width: 12px;
        height: 26px;
      }
    }

    .bottom {
      position: absolute;
      right: 8px;
      bottom: 4px;

      svg {
        width: 12px;
        height: 26px;
      }
    }
  }
}

@media (max-width: 400px) {
  .card {
    width: 41.5vw;

    .center {
      .desc {
        width: 100%;
      }
    }
  }
}
