.anime_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 100;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.icon {
  position: absolute;
  z-index: 10039021931201;
  pointer-events: none;
}
