.card {
  width: 270px;
  height: 250px;
  border: 2px solid rgba(209, 180, 226, 1);
  background: rgba(25, 0, 39, 0.25);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(209, 180, 226, 0.8);

  .eventName {
    margin: 0.7rem 0 0 0;
    border-bottom: 2px solid rgba(209, 180, 226, 1);

    h2 {
      font-family: "Pixelify Sans";
      font-size: 23.69px;
      font-weight: 700;
      line-height: 28.43px;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }

  .eventInfo {
    padding: 1rem;

    .eventImg {
      float: left;
      margin-right: 0.7rem;
      height: auto;
      opacity: 0.5;
    }

    p {
      font-family: "Pixelify Sans";
      font-size: 15.35px;
      font-weight: 400;
      line-height: 18.73px;
      text-align: left;
    }
  }
}
