.pageContainer {
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/backgroundNoiceImg.png");
    background-size: cover; /* Maintain aspect ratio */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
  }
  .pageContent {
    display: flex;
    flex-direction: column;
    font-family: Vidaloka;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px; /* 153.571% */
    letter-spacing: 1.68px;
    // padding: 1.5rem 0;
    width: 100vw;
    height: 100vh;

    .phoneBorder {
      @media screen and (width >= 1150px) {
        display: none;
      }
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      height: 70px;
      font-family: Rye;
      font-size: 32px;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0.05em;
      text-align: left;
      background: linear-gradient(
        0deg,
        #fdfbb7 -76.04%,
        #efd48d -13.59%,
        #d19b5b 71.28%,
        #f9e6a2 145.83%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        padding: 0 1rem;
      }
      @media screen and (width > 1150px) {
        display: none;
      }
    }

    .border {
      @media screen and (width <= 1150px) {
        display: none;
      }
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100vw;
      gap: 1rem;
      height: 100vh;
      .registration {
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        height: 70px;
        font-family: Rye;
        font-size: 52px;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0.05em;
        text-align: left;
        background: linear-gradient(
          0deg,
          #fdfbb7 -76.04%,
          #efd48d -13.59%,
          #d19b5b 71.28%,
          #f9e6a2 145.83%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          padding: 0 1rem;
        }
      }
      .backButton {
        position: absolute;
        top: 5px;
        left: 10px;
      }
      .frameLeft {
        position: absolute;
        top: 110px;
        left: 50px;
        height: 100vw;
        width: 2px;
        background-color: #d6c28a;
      }
      .frameTopLeft {
        position: absolute;
        top: 46px;
        left: 115px;
        height: 1.5px;
        width: calc(50vw - 413px);
        background-color: #d6c28a;
      }
      .frameTopRight {
        position: absolute;
        top: 46px;
        right: 50px;
        height: 27px;
        overflow: hidden;
        width: calc(50vw - 346px);
        svg {
          position: absolute;
          right: 0px;
        }
      }
      .frameRight {
        position: absolute;
        right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 71px;
        height: calc(100vh - 142px);
        overflow: hidden;
        width: 34px;
      }
      .frameBottomRight {
        position: absolute;
        right: 52px;
        bottom: 46px;
        width: 200px;
        height: 27px;
        overflow: hidden;
        svg {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      .frameBottomLeft {
        position: absolute;
        bottom: 46px;
        right: 500px;
        width: 100vw;
        height: 2px;
        background-color: #d6c28a;
      }
      .bottomSLine {
        position: absolute;
        bottom: -81.7vh;
        right: 7.3rem;
        // height: 2px;
        width: 9.5vw;
      }
      .bottomLine {
        position: absolute;
        bottom: -82.1vh;
        right: calc((9.5vw) + 7.3rem + 10vw);
        // height: 2px;
        width: 41vw;
      }
    }

    .formContainer {
      @media screen and (width <= 1150px) {
        margin-top: 200px;
        padding-top: 40px;
        padding-left: 60px;
        width: 85vw;
        margin: auto;
        max-width: 2000px;
        height: 45dvh;
      }
      @media screen and (width <= 500px) {
        margin-top: 200px;
        padding-left: 30px;
        width: 100vw;
        height: 55dvh;
      }

      display: flex;
      // position: relative;
      top: 50vh;
      // transform: translateY(-50%);
      z-index: 3;
      width: 50vw;
      max-width: 900px;
      height: 70vh;
      align-self: flex-end;
      overflow-y: visible;
      right: 100px;
      margin-right: 7vw;
      margin-top: 13vh;

      .formContent {
        @media screen and (width <= 1150px) {
          transform: translateY(200px);
          height: 85dvh;
          margin-top: 0;
          -webkit-mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(90%, rgba(0, 0, 0, 1)),
            /* Keep 70% of the element fully opaque */
              color-stop(100%, rgba(0, 0, 0, 0))
              /* Fade out at the bottom 30% */
          );
        }
        @media screen and (width <= 500px) {
          padding-top: 0;
          width: 65dvh;
          transform: translateY(110px);
        }

        margin-top: 500px;
        width: 100%;
        // max-width: 900px;
        height: 70vh;
        align-self: flex-end;
        overflow-y: scroll;
        position: relative;

        &::-webkit-scrollbar {
          display: none;
        }

        // /* Hide scrollbar for IE, Edge and Firefox */

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        // // border: 2px solid red;
      }

      .scrollbar {
        @media screen and (width <= 1150px) {
          display: none;
        }
        margin: 5% 0;
        height: 90%;
        width: 10%;
        position: relative;
        transform: translateX(-2rem);
        display: flex;
        justify-content: center;

        .scrollbarTrack {
          width: 8px;
          height: 100%;
          border-radius: 8px;
          background-image: linear-gradient(
            90deg,
            #f9e6a2 -10.51%,
            #d29e5d 48.78%,
            #f9e6a2 111.99%
          );
        }

        .scrollbarThumb {
          touch-action: none;
          position: absolute;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
      &::-webkit-scrollbar {
        display: none;
        // width: 12px;

        // background-color: #d19b5b; /* Fallback color */
        // // background-image: url("../../public/Registration/scrollBarThumb.svg");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        // border-radius: 8px;
        // position: relative;

        // &::before {
        //   position: absolute;
        //   content: "";
        //   width: 100%;
        //   height: 100%;
        //   background-image: url("../../public/Registration/scrollBarThumb.svg");
        //   background-size: cover;
        //   background-repeat: no-repeat;
        //   background-position: center;
        //   border-radius: 8px;
        // }
      }

      // /* Hide scrollbar for IE, Edge and Firefox */
      // -ms-overflow-style: none; /* IE and Edge */
      // scrollbar-width: none; /* Firefox */
      // // border: 2px solid red;
    }
  }
  .rouletteWheel {
    @media screen and (width <= 1150px) {
      display: none;
    }

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(calc(-50% + 150px)) translateY(calc(50% - 200px))
      rotate(-38deg);
    z-index: 2;
    img {
      width: 70vw;
      height: 70vw;
      @media screen and (width >= 1450px) {
        width: 65vw;
        height: 65vw;
      }
    }
  }
}
