@mixin fadeProfShowBackdrop() {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.mobileLandingWrapper {
  margin-top: 360px;
  z-index: 1;
  position: relative;

  .landing {
    height: calc(100vh - 360px);
    display: flex;
    justify-content: center;
    position: relative;

    .slotMachineContainer {
      height: 100%;
      position: relative;

      .slotMachine {
        height: 100% !important;
        width: auto !important;
        z-index: 1;
      }
    }

    .fade {
      position: absolute;
      width: 100vw;
      bottom: -60px;
      height: 250px;
      z-index: 2;
      background-image: linear-gradient(
        to bottom,
        rgba(21, 12, 35, 0) 0%,
        rgba(21, 12, 35, 1) 33.33%,
        rgba(21, 12, 35, 1) 66.66%,
        rgba(21, 12, 35, 0) 100%
      );
    }
  }

  .aboutUs {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    margin-bottom: 50px;

    .aboutUsText {
      width: 80%;
      color: #ffe3ad;
      text-align: center;
      text-shadow: 0 0 8px rgba(229, 195, 132, 0.48);
      font-family: "Source Serif 4", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px; /* 153.333% */
      text-transform: capitalize;
    }
  }

  .profShows {
    width: 100vw;
    height: calc(3 * 400px);
    position: relative;
    background: #190d2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    @include fadeProfShowBackdrop();

    @media (width < 400px) {
      height: calc(3 * 350px);
    }

    .profShowsBackground {
      width: 100vw;
      height: 100%;
      position: absolute;
      z-index: 1;
      @include fadeProfShowBackdrop();

      @media (width >= 555px) {
        &:first-of-type {
          height: auto;
        }
      }
    }

    .artistContainer {
      position: absolute;
      margin-top: 30px;
      z-index: 2;
      width: 100%;
    }
  }

  .landingEventsPage {
    @media (width >= 1000px) {
      display: none;
    }
  }
}
