.slotMachine {
  aspect-ratio: 316 / 534;
  position: absolute;
  bottom: -100px;
  height: 100%;
  width: auto;
  right: 6%;
  transform: translateX(0%);
  z-index: 3;

  @media screen and (width <= 1600px) {
    scale: 0.8;
  }
  @media screen and (width <= 1500px) {
    transform: translateY(50px);
  }
  @media screen and (width <= 1400px) {
    transform: translateX(100px) translateY(50px);
  }
  @media screen and (width <= 1200px) {
    // display: none;
    left: 50%;
    transform: translateX(-70%) translateY(35%);
    scale: 0.6;
  }

  .machine {
    // aspect-ratio: 316 / 534;
    position: absolute;
    // height: 80%;
    width: 98%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .ytEmbed {
    aspect-ratio: 234 / 155;
    border: none;
    position: absolute;
    z-index: 10;
    width: 75%;
    height: auto;
    left: 12.5%;
    top: 29%;
    background-color: black;
    cursor: pointer;
    pointer-events: auto;
  }

  .buttonContainer {
    position: absolute;
    top: 68%;
    left: 0;
    width: 100%;
    z-index: 12;
    cursor: pointer;
    display: flex;
    gap: 30px;
    justify-content: center;

    .arrow {
      width: 64px;
      height: auto;
    }

    .pause {
      width: 64px;
      height: auto;
    }
  }
}
