.slotMachine {
    aspect-ratio: 316 / 534;
    position: absolute;
    bottom: -60px;
    height: 100%;
    width: auto;
    right: 6%;
    transform: translateX(0%);
    z-index: -3;
    pointer-events: none;
  
    img {
      // aspect-ratio: 316 / 534;
      position: absolute;
      // height: 80%;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }
  
    .ytEmbed {
      aspect-ratio: 234 / 155;
      border: none;
      position: absolute;
      z-index: 10;
      width: 75%;
      height: auto;
      left: 12.5%;
      top: 29%;
      background-color: black;
      cursor: pointer;
      pointer-events: auto;
    }
  
    .arrow {
      width: 20px;
      height: auto;
      top: 40%;
      z-index: 12;
      opacity: 0;
      cursor: pointer;
  
      &:last-of-type {
        right: 0;
        transform: rotateZ(180deg);
      }
    }
  }
  