.slideshow {
  position: absolute;
  height: 100%;
  width: 100%;

  img {
    aspect-ratio: 187 / 123;
    position: absolute;
    top: 29.5%;
    left: 15.9%;
    width: auto;
    height: 26.5%;
    transition: opacity 1s linear;

    &:first-of-type {
      z-index: 3;
    }

    &:last-of-type {
      z-index: 2;
    }
  }
}
